.wrapper_input {
  display: flex;
  padding: 10px;
  background-color: aliceblue;
}

.input_text {
  height: 30px;
  flex-grow: 1;

  border: none;
  appearance: none;
  outline: none;
  box-shadow: none;
  background-color: aliceblue;
}

.input_button {
  width: 50px;
  height: 30px;
}
