:root {
  --color-primary: #ff8a80;
}

body.dark {
  --bg-header: #323232;
  --bg-content: #6d6d6d;
  --bg-footer: #323232;
  --color-font: #fff;
  --color-icon: rgba(255, 255, 255, 0.8);
  --color-line: rgba(255, 255, 255, 0.7);
}

body.light {
  --bg-header: #f5f5f5;
  --bg-content: #eeeeee;
  --bg-footer: #f5f5f5;
  --color-font: #000;
  --color-icon: rgba(0, 0, 0, 0.8);
  --color-line: rgba(0, 0, 0, 0.3);
}
